<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeLeaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Thông tin tài khoản', 'none')" />
<body>
	<div th:replace="fragments :: navbarNoCategory"></div>
	<div class="container">
		<div class="breadcrumbs"
			th:replace="fragments :: breadcrumbs('Thông tin tài khoản','/customer/account/edit')">
		</div>
		<div class="d-flex my-5">
			<aside th:replace="fragments :: accountStyledSideBar"></aside>
			<section style="flex: 1; margin-right: 10px;">
				<div class="row m-0">
					<div class="col-6">
						<h4 class="my-3">Thông tin cá nhân</h4>
						<div>
							<form action="" class="form" th:object="${customer}">
								<div class="form-group">
									<label>Fisrt name </label> <input th:field="*{firstname}"
										class="form-control">
								</div>
								<div class="form-group">
									<label>Last name</label> <input th:field="*{lastname}"
										class="form-control">
								</div>
								<input type="submit" value="Lưu thay đổi">
							</form>
						</div>
					</div>
					<div class="col-6">
						<div class="row">
							<div class="col-12">
								<h4 class="my-3">Số điện thoại và Email</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<h6>Địa chỉ email</h6>
								<p>
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									[[${customer.email}]]
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h6>Số điện thoại</h6>
								<p>
									<i class="fa fa-phone" aria-hidden="true"></i>
									[[${customer.phoneNumber}]]
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<hr>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h6>Mật khẩu</h6>
								<p>
									<i class="fa fa-lock" aria-hidden="true"></i>Mật khẩu
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: script"></div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
    });
    
	</script>
</body>
</html>