<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeLeaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Thông tin tài khoản', 'none')" />
<body>
	<div th:replace="fragments :: navbarNoCategory"></div>
	<aside th:replace="fragments :: accountStyledSideBar">	
	</aside>

	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: script"></div>
	<script type="text/javascript">
	viewCart = "[[@{/customers/view-cart}]]";
	updateToCart = "[[@{/update-to-cart}]]";
	getCart = "[[@{/customers/get_cart}]]";
	gmailAuthen = "[[@{/customers/get_email_authen}]]";
	productDetail = "[[@{/p}]]";
	deleteToCart = "[[@{/delete-to-cart}]]";
	contextPath = "[[@{/}]]";
	$(document).ready(function(){
		$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
    });
    
	</script>
</body>
</html>