<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeLeaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Check Out', 'none')" />
<body>
	<div th:replace="fragments :: navbarNoCategory"></div>
	<div class="container">
		<div class="row shop checkout section"
			style="min-height: 80vh; margin: auto;">
			<div class="col-8">
				<th:block th:if="${address != null}">
					<th:block th:if="${lisCartItems != null}">
						<ul style="margin-top: 30px;">
							<th:block th:each="cartItem : ${lisCartItems}">
								<li class="my-2">
									<div class="d-flex justify-content-between rounded p-3 border">
										<a class="cart-img rounded"
											th:href="@{'/p/' +${cartItem.alias}}"> <img
											style="height: 120px;" th:src="@{${cartItem.image}}">
										</a>
										<div class="d-block w-100 px-3">
											<h4>
												<a th:href="@{'/p/' +${cartItem.alias}}">[[${cartItem.name}]]</a>
											</h4>
											<p class="quantity">
												<span> <a class="quantity-button"
													th:href="@{'/update-to-cart/' + ${cartItem.id} + '/' + ${cartItem.quantity}+ '?status=down'}">
														<i class="fa fa-minus-circle"></i>
												</a> &nbsp;&nbsp;<span class="quantityField">[[${cartItem.quantity}]]</span>&nbsp;&nbsp;
													<a class="quantity-button"
													th:href="@{'/update-to-cart/' + ${cartItem.id} + '/' + ${cartItem.quantity} + '?status=up'}">
														<i class="fa fa-plus-circle"></i>
												</a>
												</span> &nbsp;&nbsp;-&nbsp;&nbsp; <span class="amount"
													th:text="${#numbers.formatCurrency(cartItem.discountPrice
											* cartItem.quantity)}">
												</span>
											</p>

										</div>
										<a th:href="@{'/delete-to-cart/' + ${cartItem.id}}"
											class="remove" title="Remove this item"> <i
											class="fa fa-remove"></i></a>
									</div>
								</li>
							</th:block>
						</ul>
					</th:block>
					<th:block th:if="${lisCartItems.size() == 0}">
						<div class="p-5 text-center">
							Giỏ hàng của bạn hiện tại không có sản phẩm. <br> Hãy chọn
							mua sản phẩm để bắt đầu thanh toán nào
						</div>
					</th:block>
				</th:block>
				<th:block th:if="${address == null}">
					<div class="p-5 text-center">
						Bạn chưa chọn địa chỉ giao hàng. <br> Hãy chọn địa chỉ để bắt
						đầu thanh toán nào
					</div>
				</th:block>
			</div>
			<div class="col-4" th:if="${address != null}">
				<form th:action="@{/customers/check-out}" method="post"
					th:object="${order}">
					<div class="order-details">
						<div class="single-widget">
							<h2>Address & Phone Number</h2>
							<div class="content" style="padding: 10px 30px;">
								<div>
									<p>Address :</p>
									<span>[[${address}]]</span>
								</div>
								<div>
									<p>Phone Number :</p>
									<span>[[${phoneNumber}]]</span>
								</div>
							</div>
						</div>
						<div class="single-widget">
							<h2>CART TOTALS</h2>
							<div class="content">
								<ul>
									<li>Sub Total<span
										th:text="${#numbers.formatCurrency(subTotal)}"> </span>
									<li>(+) Shipping <span
										th:text="${#numbers.formatCurrency(shiping)}"> </span>
									<li class="last">Total<span
										th:text="${#numbers.formatCurrency(total)}"> </span>
								</ul>
							</div>
						</div>
						<div class="single-widget">
							<h2>Payments</h2>
							<div class="content">
								<div class="checkbox">
									<div class="form-check">
										<input class="form-check-input" type="radio"
											name="radio_default" checked> <label> Thanh
											toán khi nhận hàng </label>
									</div>
								</div>
							</div>
						</div>
						<div class="single-widget">
							<div class="content px-4">
								<th:block th:if="${lisCartItems.size() == 0}">
									<input class="btn" type="submit" disabled="disabled"
										value="Check Out">
								</th:block>
								<th:block th:if="${lisCartItems.size() > 0}">
									<input class="btn" type="submit" value="Check Out">
								</th:block>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: script"></div>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
    });
    
	</script>
</body>
</html>