<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('User - Shopme Admin', 'none')" />
<body>
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<aside th:replace="fragments :: layout-menu('Categories')"></aside>
			<div class="layout-page">
				<nav th:replace="fragments :: layout-navbar"></nav>
				<div class="content-wrapper">
					<div class="container-xxl flex-grow-1 container-p-y">
						<div class="container-fluid">
							<h3>Manage Categories</h3>
							<div class="d-flex justify-content-between">
								<div th:replace="fragments :: search_form('/categories/page/1')"></div>
								<div>
									<a th:href="@{/categories/new}"><i class="text-secondary fas fa-folder-plus fa-2x m-2"></i></a> 
									<a th:href="@{/categories/export/csv}"><i class="text-secondary fas fa-file-csv fa-2x m-2"></i></a>
								</div>
							</div>
							<div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>


							<div class="card my-4">
								<div class="table-responsive text-nowrap">
									<table class="table table-hover">
										<thead class="thead-dark">
											<tr>
												<th>
													<a th:href="@{'/categories/page/'+${currentPage}+ '?sortField=id&sortDir=' + ${reverseSortDir}}" class="text-white">ID </a> 
													<span th:if="${sortField == 'id'}" th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
												 </th>
												<th>Category Image</th>
												<th>
													<a th:href="@{'/categories/page/'+${currentPage}+ '?sortField=name&sortDir=' + ${reverseSortDir}}" class="text-white">Category Name</a> 
													<span th:if="${sortField == 'name'}" th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
												</th>
												<th>Alias</th>
												<th>Enabled</th>
												<th></th>
											</tr>
										</thead>
										<tbody class="table-border-bottom-0">
											<tr th:each="cat : ${listCategories}">
												<td class="text-center align-middle">[[${cat.id}]]</td>
												<td>
													<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
														<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
																data-bs-placement="top" class="avatar avatar-xs pull-up"
																title="" data-bs-original-title="Lilian Fuller">
															<img th:src="@{${cat.getPhotosImagesPath}}" class="rounded-circle" />
														</li>
													</ul>
												</td>
												<td class="align-middle">[[${cat.name}]]</td>
												<td class="align-middle">[[${cat.alias}]]</td>
												<td class="text-center align-middle"><a
													th:if="${cat.enabled == true}"
													class="fas fa-check-circle fa-2x icon-green"
													th:href="@{'/categories/' + ${cat.id} +'/enabled/false'}"> </a> <a
													th:if="${cat.enabled == false}"
													class="fas fa-circle fa-2x icon-dark"
													th:href="@{'/categories/' + ${cat.id} +'/enabled/true'}"> </a></td>
												<td class="text-center align-middle"><a
													class="far fa-edit fa-2x icon-green"
													th:href="@{'/categories/edit/' + ${cat.id}}"
													title="Edit this user"> </a> &nbsp; <th:block
														th:if="${cat.hasChildren == false}">
														<a class="fas fa-trash-alt fa-2x icon-dark link-delete"
															th:href="@{'/categories/delete/' + ${cat.id}}"
															title="Delete this user" th:entityId="${cat.id}"> </a>
													</th:block></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div th:replace="fragments :: pagination('/categories','Top level Category')"></div>
						</div>
					</div>
					<footer th:replace="fragments :: content-footer"></footer>
					<div class="content-backdrop fade"></div>
				</div>
			</div>
		</div>
		<div class="layout-overlay layout-menu-toggle"></div>
	</div>
	
	<div class="modal fade text-center" id="deleteConfirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesBtn">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";
	$(document).ready(function(){
		$(".link-delete").on("click",function(e){
			e.preventDefault();
			showDeleteConfirModal($(this), 'category');
		});	 
	});
	</script>
</body>
</html>