
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close" style="margin-right: 8px;">
		<span class="ti-close" aria-hidden="true"></span>
	</button>
</div>
<div class="modal-body">
	<div class="row no-gutters m-0" style="max-height: 600px; height: 600px; overflow: hidden;">
		<div class="col-3">
			<!-- Product Slider -->
			<div class="product-gallery">
				<div class="quickview-slider-active">
					<div class="single-slider">
						<img th:src="@{${product.getMainImagePath}}" alt="#">
					</div>
				</div>
			</div>
			<!-- End Product slider -->
		</div>
		<div class="col-lg-6" style="height: 100%;">
			<div class="quickview-content">
				<h2>[[${product.name}]]</h2>
				<div class="quickview-ratting-review">
					<div class="quickview-ratting-wrap">
						<div class="quickview-ratting">
							<i class="yellow fa fa-star"></i> <i class="yellow fa fa-star"></i>
							<i class="yellow fa fa-star"></i> <i class="yellow fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>

					</div>
					<div class="quickview-stock"  th:if="${product.inStock}">
						<span><i class="fa fa-check-circle-o"></i> in stock</span>
					</div>
					<div class="quickview-stock" th:unless="${product.inStock}">
						<span><i class="fa fa-times-circle-o text-danger"></i> out stock</span>
					</div>
				</div>
				<h3 th:text="${#numbers.formatCurrency(product.getDiscountPrice)}">
				</h3>
				<div th:utext="${product.fullDescription}"
					class="quickview-peragraph" style="min-height: 200px;"></div>
			</div>
		</div>
		<div class="col-3" style="margin-top: 50px; text-align: center;">
			<div th:if="${product.inStock}" class="add-to-cart">
				<a th:href="@{'/add-to-cart/' + ${product.id} + '/1' }" class="btn">
					Add to cart
				</a>
			</div>
			<div class="default-social m-3">
				<h4 class="share-now">Share:</h4>
				<ul>
					<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a class="youtube" href="#"><i
							class="fa fa-pinterest-p"></i></a></li>
					<li><a class="dribbble" href="#"><i
							class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
