<!DOCTYPE html>
<html>
<head>
<head th:replace="fragments :: page_head('Comming-soon', 'tag')" />
<link rel="stylesheet"
	th:href="@{/css/style-coming.css}">
</head>
<body>
	<div th:replace="fragments :: navbarNoCategory"></div>
	<video class="bg-video" autoplay="autoplay" muted="muted" loop="loop">
		<source th:src="@{/images/bg.mp4}"
			type="video/mp4" />
	</video>
	<!-- Masthead-->
	<div class="masthead">
		<div class="masthead-content text-white">
			<div class="container-fluid px-4 px-lg-0">
				<h1 class="fst-italic lh-1 mb-4">Our Website is Coming Soon</h1>
				<p class="mb-5">We're working hard to finish the development of this site. Sign up below to receive updates and to be notified when we launch!</p>
				<!-- * * * * * * * * * * * * * * *-->
				<!-- * * SB Forms Contact Form * *-->
				<!-- * * * * * * * * * * * * * * *-->
				<!-- This form is pre-integrated with SB Forms.-->
				<!-- To make this form functional, sign up at-->
				<!-- https://startbootstrap.com/solution/contact-forms-->
				<!-- to get an API token!-->
				<form id="contactForm" data-sb-form-api-token="API_TOKEN">
					<!-- Email address input-->
					<div class="row input-group-newsletter">
						<div class="col">
							<input class="form-control" id="email" type="email"
								placeholder="Enter email address..."
								aria-label="Enter email address..."
								data-sb-validations="required,email" />
						</div>
						<div class="col-auto">
							<button class="btn btn-primary disabled" id="submitButton"
								type="submit">Notify Me!</button>
						</div>
					</div>
					<div class="invalid-feedback mt-2"
						data-sb-feedback="email:required">An email is required.</div>
					<div class="invalid-feedback mt-2" data-sb-feedback="email:email">Email
						is not valid.</div>
					<!-- Submit success message-->
					<!---->
					<!-- This is what your users will see when the form-->
					<!-- has successfully submitted-->
					<div class="d-none" id="submitSuccessMessage">
						<div class="text-center mb-3 mt-2">
							<div class="fw-bolder">Form submission successful!</div>
							To activate this form, sign up at <br /> <a
								href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
						</div>
					</div>
					<!-- Submit error message-->
					<!---->
					<!-- This is what your users will see when there is-->
					<!-- an error submitting the form-->
					<div class="d-none" id="submitErrorMessage">
						<div class="text-center text-danger mb-3 mt-2">Error sending
							message!</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Social Icons-->
	<!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
	<div class="social-icons">
		<div
			class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
			<a class="btn btn-dark m-3" href="#!"><i class="ti-twitter"></i></a>
			<a class="btn btn-dark m-3" href="#!"><i class="ti-facebook"></i></a>
			<a class="btn btn-dark m-3" href="#!"><i class="ti-instagram"></i></a>
		</div>
	</div>
	<script th:src="@{/js/scripts.js}"></script>
	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: script"></div>
</body>
</html>