<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Home - Shopme', 'none')" />
<body>
	<div class="container-fluid m-0 p-0">
		<div th:replace="fragments :: navbar"></div>
		<div th:replace="fragments :: carousel"></div>
		<div th:replace="fragments :: banner"></div>
		<div th:replace="fragments :: productArea"></div>
		<section th:replace="fragments :: midiumBanner"></section>
		<div th:replace="fragments :: mostPopular"></div>
		<section th:replace="fragments :: cowndown"></section>
		<section th:replace="fragments :: shopServices"></section>
		<section th:replace="fragments :: newsletter"></section>
	</div>
	<div th:replace="fragments :: modal"></div>
	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: script"></div>
	<script type="text/javascript">
	viewCart = "[[@{/customers/view-cart}]]";
	updateToCart = "[[@{/update-to-cart}]]";
	getCart = "[[@{/customers/get_cart}]]";
	gmailAuthen = "[[@{/customers/get_email_authen}]]";
	productDetail = "[[@{/p}]]";
	deleteToCart = "[[@{/delete-to-cart}]]";
	contextPath = "[[@{/}]]";
	$(document).ready(function(){
		$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
    });
    
	</script>
</body>
</html>