<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeLeaf-extras-springsecurity5">
<head>
<head th:replace="fragments :: page_head('Reset password', 'tag')" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login-css.css}" />
	<script type="text/javascript" th:src="@{/js/login-js.js}"></script>
</head>
<body>
		<div th:replace="fragments :: navbarNoCategory"></div>
		<div class="logmod" >
			<div class="logmod__wrapper">
				<div class="logmod__container">
					<ul class="nav nav-tabs nav-pills justify-content-center"
						style="max-width: 550px; margin: auto;">
						<li class="nav-item w-100">
						<a style="text-align: center; line-height: 72px; height: 72px; padding: 8px 16px; font-weight: 700; font-size: 16px;"
							class="nav-link" data-toggle="tab" href="#resetpassword">Reset Password</a></li>
					</ul>
					<div class="tab-content" style="max-width: 550px; margin: auto;">
						<div id="resetpassword" class="m-0 p-0 container-fluid tab-pane fade">
							<div class="logmod__heading">
								<div th:if="${error != null}">
									<p class="text-danger">
										<span>[[${error}]]</span>
									</p>
								</div>
								<div th:if="${param.logout}">
									<p class="text-warning">You have been logged out.</p>
								</div>
								<span class="logmod__heading-subtitle">
									<strong>[[${message}]]</strong>
								</span>
								<span class="logmod__heading-subtitle">
									Enter your new   
									<strong>password</strong>
								</span>
							</div>
							<div class="logmod__form">
								<form th:action="@{/reset-password}" method='POST'>
									<input type="hidden" th:value="${token}" name="token">
									<div class="sminputs">
										<div class="input full">
											<label class="string optional" for="user-pw">Password*</label>
											<input name="password" style="outline: none;" class="string optional" oninput="checkPasswordMath(document.getElementById('confirmPassword'))">
										</div>
									</div>
									<div class="sminputs">
										<div class="input full">
											<label class="string optional" for="user-pw-repeat">Repeat password *</label>
											<input style="outline: none;" class="string optional" id="confirmPassword" type="password" minlength="8" maxlength="20" oninput="checkPasswordMath(this)" />
										</div>
									</div>
									<div class="simform__actions">
										<input style="border-radius: 25px;" class="sumbit" name="commit" type="submit" value="Reset password" /> 
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: script"></div>
	<script type ="text/javascript"> 
		$(document).ready(function() { 
			$(function() { 
				$('.nav-tabs a[href="#resetpassword"]').tab('show');
			});
		});
	</script>
</body>
</html>