<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
	<div class="container-fluid m-0 p-0">
		<div th:replace="fragments :: navbarNoCategory"></div>
		<div class="breadcrumbs">
			<section class="product-area shop-sidebar shop section p-0 my-2">
				<div class="container">
					<div class="row">
						<div class="col-12"
							th:if="${keyword !=null && !keyword.isEmpty()}">
							<h3 class="p-2 border-bottom">Search Results for
								'[[${keyword}]]'</h3>
						</div>
					</div>
					<div class="row">
						<th:block th:each="product : ${listProducts}">
							<div class="col-3">
								<div class="single-product">
									<div class="product-img">
										<a th:href="@{'/p/' + ${product.alias}}"> <img
											class="default-img" th:src="@{${product.getMainImagePath}}"
											alt="#"> <img class="hover-img"
											th:src="@{${product.getMainImagePath}}" alt="#"> <span
											class="price-dec" th:if="${product.discountPercent > 0}">[[${product.discountPercent}]]%
												Off</span> <span class="new"
											th:if="${(#dates.createNow().getTime() - product.updatedTime.getTime())<(1000*60*60*24*3)}">New</span>
										</a>
										<div class="button-head">
											<div class="product-action">
												<a class="link-detail"
													th:href="@{'/p/detail-modal/' + ${product.id}}"> <i
													class=" ti-eye"></i> <span>Quick Shop</span>
												</a>
											</div>
											<div class="product-action-2">
												<a title="Add to cart"
													th:href="@{'/add-to-cart/' + ${product.id} + '/1' }">Add
													to cart</a>
											</div>
										</div>
									</div>
									<div class="product-content">
										<h3>
											<a th:href="@{'/p/' + ${product.alias}}">[[${product.name}]]</a>
										</h3>
										<div class="product-price"
											th:if="${product.discountPercent > 0}">
											<span
												style="font-size: larger; color: darkred; margin-right: 10px;"
												th:text="${#numbers.formatCurrency(product.getDiscountPrice)}">
											</span>
											<del th:text="${#numbers.formatCurrency(product.price)}">

											</del>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<div th:replace="fragments :: pagination('/shop-grid','Product')"></div>
				</div>
			</section>
		</div>
	</div>
	<div class="modal fade text-center" id="detailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content"></div>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>
	<div th:replace="fragments :: script"></div>
	<script type="text/javascript">
	$(document).ready(function(){	 
		$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
	});
	</script>
</body>
</html>